/* Reset CSS baseado no modelo do Andy Bell */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}

body {
  margin: 0;
  min-height: 100vh;
}

:where(body, figure, blockquote, dl, dd) {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:where([hidden]) {
  display: none;
}

::selection {
  background-color: Highlight;
  color: ButtonText;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}